---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import Intro from '../components/Intro.astro';
import ServiceBlocks from '../components/ServiceBlocks.astro';
import Proyectos from '../components/Proyectos.astro';
import TeamFAQ from '../components/TeamFAQ.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <HeroCarousel />
    <Intro />
    <ServiceBlocks />
    <Proyectos />
    <TeamFAQ />
    <CTAFinal />
  </main>
  <Footer />
</BaseLayout>
